.main {
    display: flex;
    height: 85vh;
}

.main_child {
    margin: auto;
    flex-direction: column;
    display: flex;
}

.main_child h1 {
    letter-spacing: 10px;
    font-size: 105px;
    text-transform: uppercase;
    font-weight: 200;
    animation: shiver 1s linear .5s infinite;
    /* animation: slideLeft 2s linear forwards; */
    color: white;
}
.para {
    margin: auto;
}

.para span {
    font-size: 40px;
    color: white;
}

@keyframes slideLeft {
  from{
    transform: translateX(-100%);
  }
  to{
    transform: translateX(0%);
  }
}
@keyframes slideRight {
    from{
      transform: translateX(50%);
    }
    to{
      transform: translateX(0%);
    }
  }
@keyframes shiver {
    0% {
        transform: translate(1px, 1px);
        text-shadow: 6px 0 rgba(255, 250, 250, 0.9), -6px 0 rgba(0, 0, 255, 0.9);
    }

    5% {
        transform: translate(1px, 1px);
        text-shadow: 3px 0 rgba(255, 250, 250, 0.9), -3px 0 rgba(0, 0, 255, 0.9);
    }

    10% {
        transform: translate(1px, 1px);
        text-shadow: 5px 0 rgba(255, 250, 250, 0.9), -5px 0 rgba(0, 0, 255, 0.9);
    }

    15% {
        transform: translate(1px, 1px);
        text-shadow: 7px 0 rgba(255, 250, 250, 0.9), -7px 0 rgba(0, 0, 255, 0.9);
    }

    20% {
        transform: translate(1px, 2px);
        text-shadow: 2px 0 rgba(255, 250, 250, 0.9), -2px 0 rgba(0, 0, 255, 0.9);
    }

    25% {
        transform: translate(1px, 2px);
        text-shadow: 2px 0 rgba(255, 250, 250, 0.9), -2px 0 rgba(0, 0, 255, 0.9);
    }

    30% {
        transform: translate(1px, 2px);
        text-shadow: 3px 0 rgba(255, 250, 250, 0.9), -3px 0 rgba(0, 0, 255, 0.9);
    }

    35% {
        transform: translate(1px, 2px);
        text-shadow: 2px 0 rgba(255, 250, 250, 0.9), -2px 0 rgba(0, 0, 255, 0.9);
    }

    40% {
        transform: translate(2px, 1px);
        text-shadow: 2px 0 rgba(255, 250, 250, 0.9), -2px 0 rgba(0, 0, 255, 0.9);
    }

    45% {
        transform: translate(2px, 1px);
        text-shadow: 3px 0 rgba(255, 250, 250, 0.9), -3px 0 rgba(0, 0, 255, 0.9);
    }

    50% {
        transform: translate(2px, 1px);
        text-shadow: 3px 0 rgba(255, 250, 250, 0.9), -3px 0 rgba(0, 0, 255, 0.9);
    }

    55% {
        transform: translate(2px, 1px);
        text-shadow: 4px 0 rgba(255, 250, 250, 0.9), -4px 0 rgba(0, 0, 255, 0.9);
    }

    60% {
        transform: translate(1px, 1px);
        text-shadow: 2px 0 rgba(255, 250, 250, 0.9), -2px 0 rgba(0, 0, 255, 0.9);
    }

    65% {
        transform: translate(1px, 1px);
        text-shadow: 5px 0 rgba(255, 250, 250, 0.9), -5px 0 rgba(0, 0, 255, 0.9);
    }

    70% {
        transform: translate(1px, 1px);
        text-shadow: 3px 0 rgba(255, 250, 250, 0.9), -3px 0 rgba(0, 0, 255, 0.9);
    }

    75% {
        transform: translate(1px, 1px);
        text-shadow: 2px 0 rgba(255, 250, 250, 0.9), -2px 0 rgba(0, 0, 255, 0.9);
    }

    80% {
        transform: translate(2px, 1px);
        text-shadow: 5px 0 rgba(255, 250, 250, 0.9), -5px 0 rgba(0, 0, 255, 0.9);
    }

    85% {
        transform: translate(2px, 1px);
        text-shadow: 3px 0 rgba(255, 250, 250, 0.9), -3px 0 rgba(0, 0, 255, 0.9);
    }

    90% {
        transform: translate(2px, 2px);
        text-shadow: 5px 0 rgba(255, 250, 250, 0.9), -5px 0 rgba(0, 0, 255, 0.9);
    }

    95% {
        transform: translate(2px, 2px);
        text-shadow: 2px 0 rgba(255, 250, 250, 0.9), -2px 0 rgba(0, 0, 255, 0.9);
    }

    100% {
        transform: translate(1px, 2px);
        text-shadow: 3px 0 rgba(255, 250, 250, 0.9), -3px 0 rgba(0, 0, 255, 0.9);
    }
}

@media only screen and (max-width: 912px) {
    .main_child h1 {
        letter-spacing: 0px;
        font-size: 90px;
    }
}

@media only screen and (max-width: 540px) {
    .main_child h1 {
        font-size: 50px;
    }

    .para span {
        font-size: 20px;
    }
}